<div class="wrapper">
  <h1>Your check-in details</h1>
  <form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <app-accordian-section
      [title]="'Personal information'"
      [filled]="accordianSections['detailsSectionFilled']"
      formGroupName="detailsSectionFields"
    >
      <div
        class="inlineError"
        *ngIf="formSubmitted && isFormGroupInvalid('detailsSectionFields')"
      >
        All details fields are required.
      </div>

      <label for="firstName">First name</label>
      <input
        type="text"
        id="firstName"
        formControlName="firstName"
        placeholder="First name"
      />

      <label for="lastName">Last name</label>
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        placeholder="Last name"
      />

      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Email"
      />
      <div
        class="inlineError"
        *ngIf="
          formSubmitted && isInvalid('detailsSectionFields.email', ['email'])
        "
      >
        Invalid email format.
      </div>

      <!-- would add country drop down + phone number validation -->
      <label for="phoneNumber">Phone number</label>
      <input
        type="text"
        id="phoneNumber"
        formControlName="phoneNumber"
        placeholder="Phone number"
      />
    </app-accordian-section>

    <app-accordian-section
      [title]="'Address'"
      [filled]="accordianSections['addressSectionFilled']"
      formGroupName="addressSectionFields"
    >
      <div
        class="inlineError"
        *ngIf="formSubmitted && isFormGroupInvalid('addressSectionFields')"
      >
        All address fields are required.
      </div>

      <label for="street">Street</label>
      <input
        type="text"
        formControlName="street"
        id="street"
        placeholder="Street"
      />

      <div class="form-container">
        <div class="form-input">
          <label for="houseNumber">House number</label>
          <input
            type="text"
            formControlName="houseNumber"
            id="houseNumber"
            placeholder="House Nr."
          />
        </div>

        <div class="form-input">
          <label for="postCode">Zip code</label>
          <input
            type="text"
            formControlName="postCode"
            id="postCode"
            placeholder="Zip code"
          />
        </div>
      </div>

      <label for="city">City</label>
      <input
        type="text"
        formControlName="city"
        id="city"
        placeholder="City Name"
      />

      <label for="country">Country</label>
      <input
        type="text"
        formControlName="country"
        id="country"
        placeholder="Country"
      />
    </app-accordian-section>

    <app-accordian-section
      [title]="'Payment details'"
      [filled]="accordianSections['paymentSectionFilled']"
      formGroupName="paymentSectionFields"
    >
      <div
        class="inlineError"
        *ngIf="formSubmitted && isFormGroupInvalid('paymentSectionFields')"
      >
        All payment fields are required.
      </div>
      <div
        class="inlineError"
        *ngIf="
          formSubmitted && isInvalid('paymentSectionFields.cvv', ['pattern'])
        "
      >
        CVV must be 3 or 4 digits.
      </div>

      <label for="creditCardNumber">Credit card number</label>
      <input
        type="number"
        formControlName="creditCardNumber"
        id="creditCardNumber"
        placeholder="Credit card number"
      />

      <div class="form-container">
        <div class="form-input">
          <label for="expiryDate">Expiration date</label>
          <input
            type="text"
            formControlName="expiryDate"
            id="expiryDate"
            placeholder="Expiration date"
          />
        </div>

        <div class="form-input">
          <label for="cvv">cvv</label>
          <input
            type="number"
            formControlName="cvv"
            id="cvv"
            placeholder="CVV"
          />
        </div>
      </div>

      <label for="cardholderName">Cardholder name</label>
      <input
        type="text"
        formControlName="cardholderName"
        id="cardholderName"
        placeholder="Cardholder Name"
      />
      <span class="footer">
        Enter your card details: its number, expiration date and 3-to-4 digit
        number on the back of the card and the holder name.
      </span>
    </app-accordian-section>

    <!-- update: moved outside of the accordion section to that it is always visible -->
    <div>
      <button type="submit">Save</button>
    </div>
  </form>
</div>
